<div class='span12'>
  <h1>About MetaCasts.tv</h1>
  <p>
    MetaCasts are weekly+ screen casts that focus on Ruby and related technologies, such as Rails, Sinatra, Gems, JavaScript, CoffeeScript, etc... Occasionally there will be screen casts that venture out into other areas, such as iOS, RubyMotion, and other fun topics. MetaCasts can be watched on your computer, tablet, and mobile phone in glorious HD.
  </p>

  <h2>About Mark Bates</h2>
  <p>
    Your host, and curator, of MetaCasts is Mark Bates. Mark has been developing Ruby applications since 2005 and before that he spent many a year in the dark recesses of Java. Mark is the author of two books Programming in CoffeeScript (2012) and Distributed Programming in Ruby (2009). Mark also travels around the world speaking at conferences such as RubyConf, RailsConf, Aloha Ruby Conf, ConFoo, and more. Mark is also a co-organizer of BostonRB, one of the largest Ruby user groups in the United States.
  </p>
</div>