<div class="span3">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Countries</li>
      {{#each model}}
        <li>
          {{#linkTo "country" this}}
            {{ title }}
          {{/linkTo}}
        </li>
      {{/each}}
      </li>
    </ul>
  </div>
</div>
<div class="span9">
  {{ outlet }}
</div>