@import "bootstrap";

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.sidebar-nav {
  padding: 9px 0;
}

@media (max-width: 980px) {
  /* Enable use of floated navbar text */
  .navbar-text.pull-right {
    float: none;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.lead {
  font-size: 24px;
  line-height: 1.25;
}

.navbar {
  li {
    a.active {
      color: white;
    }
  }
}

.nav {
  li {
    a.active {
      color: white;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
      background-color: #0088cc;
    }
  }
}

.unstyled {
  li {
    overflow: auto;
  }
}

.list-striped {
  li:nth-child(even) {
  }
  li:nth-child(odd) {
    background-color: #f9f9f9;
  }
  li {
    padding: 5px;
    border-bottom: 1px solid #000000;
  }
  li:last-of-type {
    border-bottom: 0px;
  }
}

@import "bootstrap-responsive";